/* Header */

.navigation {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.navigation__links {
    display: flex;
    gap: 45px;
    align-items: center;
}

.navigation__links li a {
    color: #311f09;
    font-size: 14px;
}

#navigation__link {
    color: #ff8a00;
}

.navigation__actions {
    display: flex;
    align-items: center;
    /* gap: 25px; */
}

.navigation__actions img {
    height: 24px;
    width: 24px;
}

.navigation__actions figure {
    height: 50px;
    width: 50px;
    background-color: #ecf0f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}
/* Hero Section */

.hero-section__container {
    max-width: 1440px;
    /* padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 80px; */
    padding: 80px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    gap: 40px;
}

.hero-section__left {
    width: 50%;
}

.hero-section__right {
    width: 50%;
    height: max-content;
}

.hero-section__img {
    width: 100%;
    height: auto;
}

.hero-section__left span {
    display: block;
    width: max-content;
    margin-bottom: 24px;
    background-color: #ff8a0033;
    color: #ff8a00;
    font-size: 18px;
    border-radius: 123px;
    padding: 5px 20px;
}

.hero-section__heading {
    margin-bottom: 24px;
    color: #311f09;
    font-size: 80px;
    font-weight: 600;
    line-height: 88px;
}

.hero-section__description {
    margin-bottom: 50px;
    color: #5c4529;
    font-size: 20px;
}

.hero-section__cta button:first-child {
    margin-right: 12px;
}
/* Welcome Section */

#welcome-section {
    background-color: #3fc66e1a;
}

.welcome-section__container {
    max-width: 1440px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    padding-top: 80px;
    padding-right: 80px;
}

.welcome-section__left {
    width: 55%;
}
.welcome-section__left img {
    width: 100%;
    height: auto;
}

.welcome-section__right {
    width: 45%;
}

.welcome-section__right h2 {
    font-size: 60px;
    line-height: 70px;
    color: #311f09;
    margin-bottom: 50px;
}

.welcome-section__right h2 span {
    color: #ff8a00;
}

.welcome-section__right p {
    color: #5c4529;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 40px;
}
/* Menu Section */

.menu-section__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px;
}

.menu-section__container h2 {
    text-align: center;
    font-size: 60px;
    line-height: 70px;
    color: #311f09;
    margin-bottom: 50px;
}

.menu-section__filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.menu-section__meals {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.menu-section__stars {
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    width: max-content;
}

.menu-section__price {
    font-size: 25px;
    line-height: 38px;
    color: #311f09;
    font-weight: 600;
}

.card {
    width: calc((100% - 80px) / 3);

    padding: 35px 37px;
    background-color: #d0ccc733;
    border-radius: 70px;
}

.card__img {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

.card__title {
    font-size: 30px;
    line-height: 60px;
    font-weight: 600;
    text-align: center;

    margin-bottom: 5px;
}

.card__text {
    font-size: 14px;
    line-height: 28px;
    color: #59442b;
    text-align: center;
    margin-bottom: 30px;
}

.card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*Reservation Section*/
#reservation-section {
    background-color: antiquewhite;
}

.reservation-section__container {
    padding-left: 0;
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
    margin: 0 auto;

    display: flex;
    align-items: center;
}

.reservation-section__left {
    width: 55%;
}

.reservation-section__left img {
    width: 100%;
    height: auto;
}

.reservation-section__right {
    width: 45%;
}
.reservation-section__right h2 {
    font-size: 60px;
    line-height: 70px;
    color: #3d3429;
    margin-bottom: 50px;
}

.reservation-section__right h2 span {
    color: #ff8a00;
}

.reservation-section__right p {
    color: #5c4529;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 40px;
}
/* Chefs Section*/
#chefs-section {
    text-align: center;
}

.chefs-section__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px;
}

.chefs-section__container h2 {
    font-size: 60px;
    line-height: 70px;
    color: #311f09;
    margin-bottom: 50px;
}

.chefs-section__container h2 span {
    color: #ff8a00;
}

.chefs-section__chefs {
    display: flex;
    gap: 40px;
    margin-bottom: 80px;
}

.chefs-section__container .btn-large-orange {
    display: block;
    margin: auto;
}

.chefs-section__chef {
    width: calc((100% - 80) / 3);
}

.chefs-section__chef img {
    width: 100%;
    height: auto;
    border-radius: 50px;
    margin-bottom: 40px;
}

.chefs-section__chef:first-child img {
    background-color: rgb(248, 233, 233);
}

.chefs-section__chef:nth-child(2) img {
    background-color: rgb(244, 221, 177);
}

.chefs-section__chef:last-child img {
    background-color: rgb(245, 244, 241);
}

.chefs-section__chef h4 {
    margin-bottom: 15px;
    color: #311f09;
    font-weight: 600;
    font-size: 25px;
    line-height: 200%;
}

.chefs-section__chef p {
    color: #a08d76;
    line-height: 200%;
    font-size: 25px;
    font-weight: 400;
}
